<h2>Add Product</h2>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="text" name="name" placeholder="Product Name">
  <input type="file" name="image">
  <input type="number" name="price" placeholder="Price">
  <input type="number" name="discount_price" placeholder="Discount Price">
  <textarea name="description" placeholder="Description"></textarea>
  <input type="number" name="stock" placeholder="Stock">
  <label><input type="checkbox" name="is_available"> Available</label>

  <select name="category">
    {% for cat in categories %}
      <option value="{{ cat.id }}">{{ cat.name }}</option>
    {% endfor %}
  </select>

  <button type="submit">Add Product</button>
</form>


<hr>

<h3>Add Category</h3>
<form method="POST" action="{% url 'userss:add_category' %}">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Category Name">
    <button type="submit" style="
        display: inline-block;
        padding: 8px 16px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        font-weight: bold;
        margin-left: 10px;">
        Add Category
    </button>
</form>

<hr>

<h4>Existing Categories</h4>
<ul>
    {% for cat in categories %}
        <li>{{ cat.name }}</li>
    {% empty %}
        <li>No categories yet</li>
    {% endfor %}
</ul>
